﻿@model ConverterSuprem.Models.Temperature

<h2>@ViewData["Title"]</h2>

<div class="col-xs-12">
    <form asp-controller="Home" asp-action="Convert" method="post" class="form-horizontal" role="form">

        <div class="form-group">
            <label asp-for="Zipcode" class="control-label"></label>
            <input asp-for="Zipcode" class="form-control" />
            <span asp-validation-for="Zipcode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Temperature_F"></label>
            <input asp-for="Temperature_F" class="form-control" />
            <span asp-validation-for="Temperature_F" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Convert" class="btn btn-info" />
        </div>

    </form>
</div>

<h2>@ViewData["Result"]</h2>

    <script>
         if (@ViewData["Value"]<10){

             document.body.style.backgroundImage = "url(https://awesomewallpaper.files.wordpress.com/2012/01/snowfall_by_thargor6-d4kmcax.jpg)";

             
         }
         else if(@ViewData["Value"] >=10 && @ViewData["Value"] <=20){
             
             document.body.style.backgroundImage = "url(http://1.bp.blogspot.com/-v0AUQvCDlRI/T7p1zHI_PTI/AAAAAAAADmE/p7mlLYhZldY/s1600/Summer+Breeze+3.jpg)";


        
         }
         else{

             document.body.style.backgroundImage = "url(http://megahdwall.com/wp-content/uploads/2014/06/Deserts-Hot-Desert-Sun-Hd-2253992.jpg)";

         }
     </script>



